VITE_AUTH_API_URL=http://localhost:8000
VITE_CAMERA_API_URL=http://localhost:8011
VITE_ALERTS_API_URL=http://localhost:8010
VITE_SOCKET_URL=http://localhost:8010
VITE_INGESTION_API_URL=http://localhost:8020
VITE_UC2_API_URL=http://localhost:8022
VITE_UC3_API_URL=http://localhost:8023
VITE_UC4_API_URL=http://localhost:8024
